* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #E6F8F9;
}

img {
    height: 300px;
    width: auto;
    border-style: solid;
    border-color: #3D034A;
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5%;
}

.quiz-answer {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 1% 5%;
    background-color: #3D034A;
    align-items: center;
    border-bottom: 5px solid #563A73;
    font-size: 20pt;
}

.big-heading {
    display: flex;
    padding-bottom: .5%;
    font-weight: bolder;
    font-size: 36pt;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: underline double;
    text-decoration-color: #3D034A;
}

.button {
    background-color: #563A73;
    color: whitesmoke;
    font-size: 20pt;
    height: fit-content;
    padding: .5em;
    font-weight: bold;
    border-radius: 5%;
}

.container {
    display: block;
    background-color: whitesmoke;
    height: fit-content;
    width: fit-content;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: .5%;
    padding: 1%;
    border-radius: 5%;
    border: solid #3D034A;
}

.hide {
    display: none;
}

.looks-like-a-button {
    background-color: #563A73;
    color: whitesmoke;
    height: fit-content;
    padding: .1em;
    font-weight: bold;
    border-radius: 5%;
    text-decoration: none;
    vertical-align: middle;
}

.text {
    display: block;
    padding-top: .5%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 1%;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

.timer-style {
    color: whitesmoke;
    padding: .25em;
    font-weight: bold;
    vertical-align: middle;
}

.small-heading {
    display: flex;
    font-weight: bolder;
    color: #3D034A;
    font-size: 20pt;
    font-style: italic;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: .5%;
    padding-bottom: .25%;
}

.question-container {
    display: block;
    background-color: whitesmoke;
    height: 800px;
    width: 70%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    border: solid #3D034A;
}

.question-text {
    display: block;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

.store-container {
    display: block;
    background-color: whitesmoke;
    height: 800px;
    width: 70%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    border: solid #3D034A;
    padding:5%;
}

#clear-score-board {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#startButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

#submitInitials {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

